*.pro.user*
.qmake.stash
AMDWraithPrismController.o
AMDWraithPrismControllerDetect.o
AuraGPUController.o
AuraGPUControllerDetect.o
AuraSMBusController.o
AuraSMBusControllerDetect.o
ColorWheel.o
CorsairLightingNodeController.o
CorsairLightingNodeControllerDetect.o
CorsairPeripheralController.o
CorsairPeripheralControllerDetect.o
CorsairVengeanceController.o
CorsairVengeanceControllerDetect.o
CorsairVengeanceProController.o
CorsairVengeanceProControllerDetect.o
CrucialController.o
CrucialControllerDetect.o
E131ControllerDetect.o
Hue2Controller.o
Hue2ControllerDetect.o
HuePlusController.o
HuePlusControllerDetect.o
HyperXDRAMController.o
HyperXDRAMControllerDetect.o
HyperXKeyboardController.o
HyperXKeyboardControllerDetect.o
LEDStripController.o
LEDStripControllerDetect.o
MSI3ZoneController.o
MSI3ZoneControllerDetect.o
MSIRGBController.o
MSIRGBControllerDetect.o
Makefile
OpenRGB
OpenRGB.o
OpenRGBDeviceInfoPage.o
OpenRGBDevicePage.o
OpenRGBDialog.o
OpenRGBDialog2.o
OpenRGBProfileSaveDialog.o
OpenRGBSoftwareInfoPage.o
OpenRGBSystemInfoPage.o
OpenRGBZoneResizeDialog.o
OpenRazerDetect.o
PatriotViperController.o
PatriotViperControllerDetect.o
PolychromeController.o
PolychromeControllerDetect.o
PoseidonZRGBController.o
PoseidonZRGBControllerDetect.o
ProfileManager.o
RGBController.o
RGBController_AMDWraithPrism.o
RGBController_AuraGPU.o
RGBController_AuraSMBus.o
RGBController_CorsairLightingNode.o
RGBController_CorsairPeripheral.o
RGBController_CorsairVengeance.o
RGBController_CorsairVengeancePro.o
RGBController_Crucial.o
RGBController_Dummy.o
RGBController_E131.o
RGBController_Faustus.o
RGBController_Hue2.o
RGBController_HuePlus.o
RGBController_HyperXDRAM.o
RGBController_HyperXKeyboard.o
RGBController_LEDStrip.o
RGBController_MSI3Zone.o
RGBController_MSIRGB.o
RGBController_OpenRazer.o
RGBController_PatriotViper.o
RGBController_Polychrome.o
RGBController_PoseidonZRGB.o
RGBController_RGBFusion.o
RGBController_RGBFusion2USB.o
RGBController_RGBFusionGPU.o
RGBController_RedragonK556.o
RGBController_RedragonM711.o
RGBController_ThermaltakeRiing.o
RGBFusion2USBController.o
RGBFusion2USBControllerDetect.o
RGBFusionController.o
RGBFusionControllerDetect.o
RGBFusionGPUController.o
RGBFusionGPUControllerDetect.o
RedragonControllerDetect.o
RedragonK556Controller.o
RedragonM711Controller.o
ThermaltakeRiingController.o
ThermaltakeRiingControllerDetect.o
cli.o
e131.o
find_usb_serial_port_linux.o
hidapi.o
hsv.o
i2c_smbus.o
i2c_smbus_linux.o
i2c_tools.o
main.o
moc_ColorWheel.cpp
moc_ColorWheel.o
moc_OpenRGBDeviceInfoPage.cpp
moc_OpenRGBDeviceInfoPage.o
moc_OpenRGBDevicePage.cpp
moc_OpenRGBDevicePage.o
moc_OpenRGBDialog.cpp
moc_OpenRGBDialog.o
moc_OpenRGBDialog2.cpp
moc_OpenRGBDialog2.o
moc_OpenRGBProfileSaveDialog.cpp
moc_OpenRGBProfileSaveDialog.o
moc_OpenRGBSoftwareInfoPage.cpp
moc_OpenRGBSoftwareInfoPage.o
moc_OpenRGBSystemInfoPage.cpp
moc_OpenRGBSystemInfoPage.o
moc_OpenRGBZoneResizeDialog.cpp
moc_OpenRGBZoneResizeDialog.o
moc_predefs.h
net_port.o
qrc_resources.cpp
qrc_resources.o
serial_port.o
super_io.o
ui_OpenRGBDeviceInfoPage.h
ui_OpenRGBDevicePage.h
ui_OpenRGBDialog.h
ui_OpenRGBDialog2.h
ui_OpenRGBProfileSaveDialog.h
ui_OpenRGBSoftwareInfoPage.h
ui_OpenRGBSystemInfoPage.h
ui_OpenRGBZoneResizeDialog.h
*.o
ui_*
moc_*
qrc_*
OpenRGB
Makefile
OpenRGB-x86_64.AppImage
.qmake.stash
